/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Add a header with a background color */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Add a navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the links in the navigation bar */
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Add a main content area */
main {
  padding: 20px;
}

/* Style the heading and paragraph tags in the main content area */
h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
